<div class="container">
  <div class="list-group">
    <button  class="list-group-item list-group-item-action "
       id="epice" type="button" (click)="onClickEpice()">

      
        Epices
    </button>
    <button class="list-group-item list-group-item-action"
       id="farines" type="button" (click)="onClickFarines()">
       Farines
    </button>
    <button class="list-group-item list-group-item-action"
          id="autres"  type="button" (click)="onClickAutres()">
          Autres
    </button>

    <!--
          <a href="#" class="list-group-item list-group-item-action"
            id="3" onClick="replyClick(this.id)">
            Autres
          </a>

      <div *ngIf="id== 0">
        00000
      </div>
      <div *ngIf="id== 1">
        111111
      </div>
      <div *ngIf="id== 2">
        22222
      </div>
      <div *ngIf="id== 3">
        33333
      </div>
       -->
  </div>
</div>
