.text-wave {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-wave span {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: monospace;
  animation: wave 3s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i));
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-24px);
  }

  40%,
  100% {
    transform: translateY(0);
  }
}
