<div class="container">
  <div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        <div class="text-wave">
          <span style="--i:1">V</span>
          <span style="--i:2">A</span>
          <span style="--i:3">D</span>
          <span style="--i:4">O</span>
          <span style="--i:5">U</span>
          <span style="--i:7">N</span>
          <span style="--i:8">O</span>
          <span style="--i:9">U</span>
        </div>
    </div>
    <div class="col-6 col-md-4"></div>

</div>
